
<div class="media">
  <div class="media-body" style="font-size: medium; ">
    <!-- citation -->
    {% if include.event.hosturl %}
        <a href="{{ include.event.hosturl }}">{{ include.event.host }}</a>
    {% else %}
        {{ include.event.host }}
    {% endif %}
    {% if include.event.series %}
        : {{ include.event.series }}
    {% else %}
    {% endif %}
    <br/>
    {{ include.event.date }}, {{ include.event.location }}. <br/>
    {% if include.event.presenters %}{{ include.event.presenters }}<br/>{% endif %}
    {% if include.event.note %}<i>{{ include.event.note }}</i><br/>{% endif %}

    {% if include.event.desc %}
    <a href="{{ include.event.desc }}" class="label label-info">[desc]</a>
    {% endif %}

    {% if include.event.site %}
    <a href="{{ include.event.site }}" class="label label-info">[desc]</a>
    {% endif %}

    {% if include.event.github %}
    <a href="{{ include.event.github }}" class="label label-info">[desc]</a>
    {% endif %}

    <br/>
    <br/>

  </div>
</div>
